/* DEBUG */
.box-blue {
    background-color: #006cfa;
    border: 1px solid #ffffff;
    color: #ffffff;

    min-height: 50px;
    text-align: center;
    padding: 0.6rem;
}

.box-green {
    background-color: #00e165;
    border: 1px solid #006cfa;
    color: #ffffff;

    /* height: 40px; */
    text-align: center;
    padding: 0.6rem;
}

[class^="part"] {
    padding-bottom: 10px;
}