/* DEBUG */
html {
    font-size: 100%;
}

.box-blue {
    background-color: #006cfa;
    border: 1px solid #ffffff;
    color: #ffffff;

    font-size: 0.8rem;

    min-height: 50px;
    text-align: center;
    padding: 0.6rem;
}

.box-green {
    background-color: #00e165;
    border: 1px solid #006cfa;
    color: #ffffff;

    font-size: 0.8rem;

    text-align: center;
    padding: 0.5rem;
}

[class^="part"] {
    padding-bottom: 10px;
}